header {
  background: #202342;
  display: flex;
  padding: 19px 32px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    font-weight: 600;
    line-height: 18px;
    color: #27c498;
  }
}
